* {
  margin: 0 auto;
  font-family: 'Assistant', sans-serif;
  line-height: 1.6;
}

html {
  background-image: url("../assets/fundo3.jpg");
  background-position: center;
}

h1,h2,h3,h5,h5,h6{
  line-height: 1.4;
  color: rgb(235, 235, 235);
  text-shadow: 3px 3px 3px rgb(107, 84, 55);
}

.cabecalho-principal {
  position: relative;
  margin: 25px;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  background-color: rgba(75, 75, 75, 0.726);
  border-radius: 5px;
}

.secao-principal {
  position: relative;
  margin: 25px;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  background-color: rgba(75, 75, 75, 0.726);
  border-radius: 5px;
  height: 450px;
}

.titulo {
  padding: 20px;
  font-size: 1em;
  text-align: center;
}

.titulo-interno {

}

.form-busca {
  padding: 25px;

}

.form-input {
  position: relative;
  width: 100%;
  border-radius: 20px;
  border: 0.02px solid rgb(83, 83, 75);
  height: 10%;
  font-size: 1.5rem;
  text-align: center;
}

.btn-enviar {
  position: relative;
  width: 92%;
  border-radius: 10px;
  border: 0.02px solid rgb(83, 83, 75);
  padding: 10px;
  font-weight: bold;
  height: 10%;
  font-size: 1rem;
  text-align: center;
  margin: 20px;
}

.secao-rodape {
  position: relative;
  margin: 25px;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  background-color: rgba(75, 75, 75, 0.726);
  border-radius: 5px;
  height: 150px;
}